{% extends "Interface/base.html" %}
<!--  -->
{% block title%}{{problem.name}}{% endblock %}
<!--  -->
{% block content %}
<style type="text/css">
  #editor {
    min-width: 100%;
    min-height: 600px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  .editor-confine {
    padding: 50px;
    margin-bottom: 100px;
  }
  .submit_btn {
    float: right;
    width: 100px;
    height: 50px;
    margin-left: 10px;
  }
  .output {
    width: 100%;
    height: auto;
    border: 0.5px solid gray;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 50px;
  }
</style>
<div id="id" data-json="{{problem.id}}"></div>
<div id="userCode" style="display: none" data-json="{{userFile}}"></div>
<div class="container text-center">
  <h2>Time Passed</h2>
  <h2 id="stopwatch">00:00:00</h2>
</div>
<div id="problem" style="margin-bottom: 50px">
  <img
    style="height: auto; max-width: 95vw; object-fit: contain"
    src="/media/problems/statements/events/python/techfest/{{problem.problemHtml}}"
  />
</div>
<div class="container-fluid editor-confine">
  <h2 id="editorHead">Code Editor</h2>
  <div id="editor"></div>
  <a href="#output_panel"
    ><button id="submit" class="btn btn-success submit_btn">Submit</button></a
  >
  <a href="#editorHead"
    ><button id="reset" class="btn btn-danger submit_btn">Reset</button></a
  >
</div>
<div class="container-fluid">
  <h2>Output</h2>
  <div class="output" id="output">
    <p id="output-msg"></p>
  </div>

  <div class="container" id="output_panel">
    <a href="/events/problems/{{event_id}}"
      ><button id="next_prob" class="btn btn-success mb-5 w-100">
        Go back to problem set
      </button></a
    >
    <h2 class="text-center">Happy coding!!</h2>
  </div>
</div>
{% csrf_token %}

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.5/ace.js"
  type="text/javascript"
  charset="utf-8"
></script>
<script
  type="text/javascript"
  charset="utf-8"
  src="/static/Interface/solve.js"
></script>

{% endblock %}
